#aboutPage {

  #about{
    background-image: url("../assets/abstract-architecture-background-38132-flip.jpg");
  }
  
  .hero {
    display: block;
    height: 550px;
    text-align: center;
  }
  
  h1 {
    padding-top: 200px;
    font-weight: bold;
    font-size: 6em;
    padding-bottom: 20px;
  }

  h3 {
    font-size: 2em;
    font-weight: bold;
  }

  h2 {
    text-align: center;
  }

  p {
    display: block;
    width: 75%;
    margin: 10px auto;
    text-align: justify;
  }


}