@import "./variables.scss";

nav {
  height: 50px;
  width: 100%;
  min-width: 750px;
  background-color: $dark;
  color: $light;
  position: fixed;
  display: grid;
  grid-template-columns: 40% 1fr;

  #logo {
    font-size: 3em;
    margin: 3px 0px 0px 10px;
    display: inline-block;
  }

  div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  a, .signin {
    display: inline-block;
    line-height: 50px;
    text-decoration: none;
    color: $light;
    font-size: 1.25em;
    font-family: $headingsfont;
    margin: 0px 5px;
  }

  a:hover {
    color: $highlightOnBlack;
  }

  .signin:hover {
    color: $highlightOnBlack;
  }
}