@import "./variables.scss";

h1 {
  padding-top: 18%;
  font-weight: bold;
  font-family: $headingsfont;
  font-size: 8em;
  font-weight: bold;
}


h2 {
  font-family: $headingsfont;
  font-size: 3em;
  margin: 40px 10%;
}

#homepage {
  background-image: url("../assets/abstract-architecture-background-38132.jpg");
}

#about {
  height: 100%;

  h2 {
    text-align: left;
  }
}

h4 {
  font-size: 1.25em;
  font-weight: bold;
}

p {
  font-size: 1.25em;
}

#aboutContent {
  display: block;
  margin: 10px 10%;
  width: 90%;

  img {
    height: 175px;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 10px;
  }

  div {
    display: flex;
    flex-direction: row;

    div {
      display: block;
      min-width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: $highlight;
      margin-left: 20px;
      margin-right: 20px;
    }
  }

  p {
    width: 60%;
    margin-top: 20px;
    text-align: justify;
  }
}

a {
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  color: $dark;
}

#recent {
  height: 100%;
  background-color: $medium;

  h2 {
    text-align: right;
    padding-top: 30px;
  }

  section {
    display: grid;
    grid-template-columns: 200px 1fr;
    margin: 30px auto;
    width: 80%;

    div {
      display: block;

      img {
        border-radius: 100%;
        width: 100px;
        height:100px;
      
      }
    }
  }
}

#request {
  font-style: italic;
  font-weight: normal;
}

#right {
  margin-left: -20px;
}

.info {
  p {
    margin: 5px 10px;
    text-align: justify;

  }

  h4 {
    margin: 5px 10px;
  }

}

#last {
  margin-bottom: 30px;
}
