@import "./variables.scss";

h1 {
  padding-top: 200px;
  font-weight: bold;
}

h2 {
  margin: 40px;
}

#hero {
  display: block;
  height: 550px;
  text-align: center;
  background-image: url("../assets/abstract-architecture-background-38132.jpg");
}

#about {
  height: 300px;

  h2 {
    text-align: left;
  }
}

h4 {
  font-size: 1.25em;
  font-weight: bold;
}

p {
  font-size: 1.25em;
}

#aboutContent {
  display: flex;
  flex-direction: row;

  div {
    display: block;
    min-width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: gray;
    margin-left: 20px;
    margin-right: 20px;
  }
}

#recent {
  height: 500px;
  background-color: $medium;

  h2 {
    text-align: right;
    padding-top: 30px;
  }

  section {
    display: grid;
    grid-template-columns: 200px 1fr;
    margin: 30px 30px;

    div {
      display: block;

      img {
        border-radius: 100%;
        width: 100px;
        height:100px;
      
      }
    }
  }
}

#request {
  font-style: italic;
  font-weight: normal;
}

#right {
  margin-left: -20px;
}

#info {
  p {
    margin: 5px 10px;
  }

  h4 {
    margin: 5px 10px;
  }

}
