@import "./variables.scss";

#pitchPage {
  
  h3 {
    font-size: 2em;
    font-weight: bold;
  }
  
  form {
    width: 60%;
    margin: 20px auto;
  }
  
  fieldset {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  label {
    font-size: 2em;
  }
  
  select, input {
    margin: 5px auto 20px auto;
    height: 30px;
    width: 40%;
    font-size: 1.25em;
  }
  
  button {
    margin: 20px auto;
  }
  
  #formheader {
    text-align: center;
    padding-top: 30px;
  }

  #pitch{
    background-image: url("../assets/abstract-art-artistic-1103970.jpg");
  }
  
  .hero {
    display: block;
    height: 550px;
    text-align: center;
  }
  
  h1 {
    padding-top: 200px;
    font-weight: bold;
    font-size: 6em;
    padding-bottom: 20px;
  }

  #loggedOut {
    width: 90%;
    margin: 10px auto 50px auto;
    text-align: center;
  }
  
  textarea {
    width: 80%;
    font-size: 1em;
    margin: 0px auto;
  }

}


