@import "./variables.scss";


#profilePage{

  h1{
    font-size: 3.5em;
    padding: 80px 0px 30px 0px;
    text-align: center;
  }

  #profile{
    width: 80%;
    margin: 10px auto;
    border: 3px solid $dark;
    padding: 30px;
    
    p{
      margin: 10px;
    }
  }

  #button {
    width: 20%;
    margin: 0px auto;

    button {
      margin: 30px auto 50px auto;
    }
  }

}