@import "./variables.scss";

#success{
  text-align: center;
  background-image: linear-gradient(to bottom right, $highlight, $medium);

  

  h1{
    padding: 75px 0px 40px;
    font-size: 5em;
  }

  p{
    font-size: 1.8em;
    margin: 10px;
  }
  
  p:nth-of-type(1) {
    margin-bottom: 15px;
    font-size: 2em;
  }

  button{
    margin: 20px 0px 50px 0px;
  }
}