@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Overpass+Mono');
@import url('https://fonts.googleapis.com/css?family=Gugi');

// Colors
$light: rgb(250, 247, 241);
$medium: rgb(207, 202, 188);
$dark: rgb(12, 12, 12);

// Fonts
$headingsfont: 'Gugi', cursive;
$bodyfont: 'Cutive Mono', monospace;



